<%= form_tag multiply_result_path do %>
  <%= number_field_tag :first %>
 x
  <%= number_field_tag :second %>
  <%= submit_tag "multiply" %>
<% end %>
<%= link_to 'Back to main page', welcome_calculator_show_path %>