<%= form_tag divide_result_path do %>
  <%= number_field_tag :first %>
 /
  <%= number_field_tag :second %>
  <%= submit_tag "divide" %>
<% end %>
<%= link_to 'Back to main page', welcome_calculator_show_path %>